@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@700&family=Righteous&display=swap');

body {
    background-color: #FB6B6B;
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Righteous', cursive;
    color: #ffffff;
}