@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #FB6B6B;
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    color: #333333;
}

* {
    box-sizing: border-box;
    font-family: 'Recursive', sans-serif;
}

h1 {
    margin: 25px 0 42px 0;
    font-size: 36px;
    font-family: 'Righteous', cursive;
    color: #ffffff;
}

.card {
    padding: 18px 15px 6px 15px;
    margin-bottom: 25px;
    width: 300px;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFD4;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

.card p {
    font-size: 18px;
}

.card img {
    width: 30px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;
}

.no {
    color: #FF3030;
    text-decoration-line: line-through;
}

.maybe {
    color: #FF922E;
    text-decoration-line: line-through;
}

.yes {
    color: #2FBE34;
    text-decoration-line: line-through;
}